footer {
    background: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0px;
    /* with these 3 variables we can center exactly the content*/
    display: flex;
    align-items: center;
    justify-content: center;
}
